<%@ Page language="c#" Codebehind="default.aspx.cs" AutoEventWireup="false" Inherits="LifeTimeCounter.Page00_00" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Page00-00</title>
		<script type="text/javascript" src="KeyDummy.js"></script>
		<meta content="Microsoft Visual Studio 7.0" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body background="images/bg.jpg" MS_POSITIONING="GridLayout">
		<form id="Page00_00" method="post" runat="server">
			<asp:textbox id="ctlEditLogIn" style="Z-INDEX: 100; LEFT: 164px; POSITION: absolute; TOP: 116px" tabIndex="2" runat="server" Width="184px" Height="22px"></asp:textbox><asp:label id="Label0" style="Z-INDEX: 101; LEFT: 8px; POSITION: absolute; TOP: 44px" runat="server" Width="140px" Height="20px" Font-Names="Arial">Language:</asp:label><asp:label id="LblLogIn" style="Z-INDEX: 102; LEFT: 8px; POSITION: absolute; TOP: 116px" runat="server" Width="141px" Height="20px" Font-Names="Arial">User name:</asp:label><asp:label id="lblPassword" style="Z-INDEX: 103; LEFT: 8px; POSITION: absolute; TOP: 148px" runat="server" Width="141px" Height="20px" Font-Names="Arial">Access code:</asp:label><asp:label id="LblSessionIDlbl" style="Z-INDEX: 107; LEFT: 8px; POSITION: absolute; TOP: 84px" runat="server" Width="140px" Height="20px" Font-Names="Arial">Session ID:</asp:label><asp:button id="btnLogin" style="Z-INDEX: 104; LEFT: 286px; POSITION: absolute; TOP: 181px" tabIndex="4" runat="server" Width="64px" Height="24px" Text="Enter" CausesValidation="False" CommandName="btnCmdEnter"></asp:button><asp:label id="LblSessionID" style="Z-INDEX: 108; LEFT: 164px; POSITION: absolute; TOP: 84px" runat="server" Width="185px" Height="24px" Font-Names="Arial" Font-Bold="True" ForeColor="Red">Label</asp:label><asp:textbox id="ctlEditAccesCode" style="Z-INDEX: 109; LEFT: 164px; POSITION: absolute; TOP: 148px" tabIndex="3" runat="server" Width="184px" Height="22px" TextMode="Password"></asp:textbox><asp:label id="lblLogin0" style="Z-INDEX: 110; LEFT: 8px; POSITION: absolute; TOP: 8px" runat="server" Width="336px" Height="8px" Font-Names="Arial" Font-Bold="True" Font-Size="Small">LTC Login</asp:label>
			<HR style="Z-INDEX: 111; LEFT: 8px; WIDTH: 93.79%; POSITION: absolute; TOP: 72px" width="93.79%" SIZE="2">
			<asp:dropdownlist id="ctlDDLlanguage" style="Z-INDEX: 112; LEFT: 164px; POSITION: absolute; TOP: 40px" tabIndex="1" runat="server" Width="185px" Height="32px" AutoPostBack="True">
				<asp:ListItem Value="de">Deutsch</asp:ListItem>
				<asp:ListItem Value="en">Englisch</asp:ListItem>
			</asp:dropdownlist>
		</form>
	</body>
</HTML>
