<%@ Page language="c#" Codebehind="Page00_05.aspx.cs" AutoEventWireup="false" Inherits="LifeTimeCounter.UPLOAD" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Page00-05</title>
		<script type="text/javascript" src="KeyDummy.js"></script>
		<meta name="vs_showGrid" content="False">
		<meta content="Microsoft Visual Studio 7.0" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body background="images/bg.jpg" MS_POSITIONING="GridLayout">
		<form id="Page00_05" method="post" encType="multipart/form-data" runat="server">
			<HR style="Z-INDEX: 101; LEFT: 8px; WIDTH: 93.79%; POSITION: absolute; TOP: 72px" width="93.79%" SIZE="2">
			<asp:Label id="lbl_UserName" style="Z-INDEX: 102; LEFT: 8px; POSITION: absolute; TOP: 40px" runat="server" Font-Names="Arial" Font-Size="8pt" Width="424px" BorderStyle="Solid" BorderColor="#000040" Height="20px" BorderWidth="1px"></asp:Label>
			<asp:label id="lblTitle_05" style="Z-INDEX: 103; LEFT: 8px; POSITION: absolute; TOP: 8px" runat="server" Font-Names="Arial" Font-Bold="True" Font-Size="Small" Width="418px" Height="8px">LTC file upload</asp:label>
			<asp:label id="Label1" style="Z-INDEX: 104; LEFT: 8px; POSITION: absolute; TOP: 116px" runat="server" Font-Names="verdana" Font-Bold="True" Font-Size="XX-Small" Width="420px" BorderStyle="None" BorderColor="White" Height="24px"></asp:label>
			<INPUT id="File1" style="FONT-SIZE: 8pt; Z-INDEX: 105; FILTER: text/xml; LEFT: 8px; WIDTH: 424px; FONT-FAMILY: Arial; POSITION: absolute; TOP: 84px; HEIGHT: 24px" tabIndex="1" type="file" size="51" name="File1" runat="server">
			<asp:button id="btnUpload" style="Z-INDEX: 106; LEFT: 8px; POSITION: absolute; TOP: 148px" tabIndex="2" runat="server" Font-Names="Arial" Font-Size="8pt" Width="109px" Text="Upload" Height="24px"></asp:button>
			<asp:button id="btnMainMenu_05" style="Z-INDEX: 107; LEFT: 324px; POSITION: absolute; TOP: 148px" tabIndex="3" runat="server" Font-Names="Arial" Font-Size="8pt" Width="109px" Text="Main menu" Height="24px"></asp:button>
		</form>
	</body>
</HTML>
